.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

main .top-row ::deep a, main .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

main .top-row ::deep a:hover, main .top-row ::deep .btn-link:hover {
    text-decoration: underline;
}

main .top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    main .top-row:not(.auth) {
        display: none;
    }

    main .top-row.auth {
        justify-content: space-between;
    }

    main .top-row ::deep a, main .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    main .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
